/*
  SpaceCadet External Theme for MarkdownEditor (YAME)
  Colors from image1:
    Violet (JTC): #503047
    Pink:   #ed217c (Buttons, active elements, and text)
    Navy:   #2d3047 (Main Background, text area, preview and toolbar)
    Yellow: #fffd82 (Text color for text area, preview and toolbar)
    Orange: #ff9b71 (Word count and other elements)
    Font:    'Segoe UI', Helvetica, Arial, sans-serif

    Every component has been assigned a Role, like:
    - editor role is assigned to the textarea that holds the markdown text
    - preview role is assigned to the div that shows the rendered markdown
    - toolbar role is assigned to the div that holds the Buttons
    - wordcount role is assigned to the div that shows the word count
    - dialog role is assigned to every modal dialog

    Roles can be accessed by using the el[role='role'] selector, where el is the element you want to select or if unsure can be empty.
    - Example: textarea[role='editor'] will select the textarea that holds the markdown text
    - Example: div[role='preview'] will select the div that shows the rendered markdown
    - Example: div[role='toolbar'] will select the div that holds the Buttons
    - Example: div[role='wordcount'] will select the div that shows the word Count
    - Example: div[role='dialog'] will select the div that shows the modal dialog
*/

/* Variable Definitions */
:root {
  --main-bg-color: #503047; /* Sea Green */
  --button-bg-color: #ed217c; /* Pink */
  --main-bg-color-2: #2d3047; /* Navy */
  --text-color: #fffd82; /* Yellow */
  --text-color-2: #ff9b71; /* Orange */
  --font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
}

* {
  color:var(--text-color)!important;
}

/* General Styles */
main {
  background-color: var(--main-bg-color)!important;
  color: var(--text-color);
  font-family: var(--font-family);
}

/* Editor Styles */

textarea[role='editor'] {
  background-color: var(--main-bg-color-2);
  color: var(--text-color);
  font-family: var(--font-family);
  border: 1px solid var(--button-bg-color);
  padding: 10px;
  border-radius: 5px;
  height: calc(100vh - 200px);
  overflow-y: auto;
}

input {
  background-color: var(--main-bg-color-2)!important;
  color: var(--text-color);
  font-family: var(--font-family);
  border: 1px solid var(--button-bg-color);
  padding: 10px;
  border-radius: 5px;
}

button[role="combobox"] {
  background-color: var(--main-bg-color-2)!important;
  color: var(--text-color);
  font-family: var(--font-family);
  border: 1px solid var(--button-bg-color);
  padding: 10px;
  border-radius: 5px;
}

div[role="selectcontent"] {
  background-color: var(--main-bg-color-2)!important;
  color: var(--text-color);
  font-family: var(--font-family);
  border: 1px solid var(--button-bg-color);
  padding: 10px;
  border-radius: 5px;
}

/* Preview Styles */
div#mdwindow {
  background-color: var(--main-bg-color-2);
  color: var(--text-color)!important;
  border: 1px solid var(--button-bg-color);
  padding: 10px;
  border-radius: 5px;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-color)!important;
}

/* Toolbar Styles */
div[role='toolbar'] {
  background-color: var(--main-bg-color-2);
  color: var(--text-color);
  font-family: var(--font-family);
  border: 1px solid #1b998b;
  padding: 10px;
  border-radius: 5px;
}

/* Button Styles */ 
[role='button'] {
  background-color: var(--button-bg-color);
  color: var(--text-color);
  font-family: var(--font-family);
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

[role='button']:hover {
  background-color: var(--text-color);
}

/* Word Count Styles */ 
[role='wordcount'], #wordcount {
  background-color: var(--main-bg-color-2);
  color: var(--text-color-2);
  font-family: var(--font-family);
  border: 1px solid var(--button-bg-color);
  padding: 10px;
  border-radius: 5px;
}
/* Dialog Styles */
div[role='dialog'] {
  background-color: var(--main-bg-color-2);
  color: var(--text-color);
  font-family: var(--font-family);
  border: 1px solid var(--button-bg-color);
  padding: 10px;
  border-radius: 5px;
}

[role="editor-container"] {
  border: 1px solid var(--buuton-bg-color);
}

/* status */
[role="status"] {
  background-color: var(--main-bg-color-2);
  color: var(--text-color);
  font-family: var(--font-family);
  border: 1px solid var(--button-bg-color);
  padding: 10px;
  border-radius: 5px;
}

/*tooltip*/
[role="tooltip"] {
  background-color: var(--main-bg-color-2);
  color: var(--text-color);
  font-family: var(--font-family);
  border: 1px solid var(--button-bg-color);
  padding: 10px;
  border-radius: 5px;
}
